<div class="win" style="display: none;" dojoattachevent="onmousedown:bringToFront,onfocus:bringToFront" tabindex="0" waiState="labelledby-${id}_title" waiRole="window">
	<div class="win-tl">
		<div class="win-tr">
			<div class="win-tc" dojoattachevent="onmousedown: bringToFront">
				<div dojoattachpoint="handle" class="win-title">
					<div class="win-icon ${iconClass}"></div>
					<div dojoAttachPoint="titleNode" class="win-title-label" id="${id}_title">${title}</div>
				</div>
				<div class="win-buttons">
					<div dojoAttachPoint="closeNode" dojoattachevent="onmouseup: close" class="win-close"></div>
					<div dojoAttachPoint="maxNode" dojoattachevent="onmouseup: _toggleMaximize" class="win-max"></div>
					<div dojoAttachPoint="minNode" dojoattachevent="onmouseup: minimize" class="win-min"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="win-bmw" role="presentation">
		<div class="win-ml" role="presentation">
			<div class="win-mr" role="presentation">
				<div class="win-mc" style="overflow: hidden;" dojoattachpoint="containerNode" waiRole=""></div>
				<div class="win-mc" style="display: none;" dojoattachpoint="dragContainerNode"></div>
			</div>
		</div>
		<div class="win-bl">
			<div class="win-br">
				<div class="win-bc"></div>
			</div>
		</div>
		<div dojoattachpoint="sizeHandle" class="win-resize"></div>
	</div>
</div>
