.dojoCodeTextArea{
	position:relative;
	left:0;
	overflow:scroll;
	border:1px solid #ccc;
	width:100%;
	height:100px;
	font:13px monospace;
	padding:0;
}
table.dojoCodeTextAreaWrapper{
	position:absolute;
	z-index:100;
	top:0;
	left:0;
	padding:0;
	border-collapse:collapse;
	border:0;
	margin:0;
}
table.dojoCodeTextAreaWrapper tr, table.dojoCodeTextAreaWrapper tr td{
	margin:0;
	padding:0;
	border:0;
	vertical-align:top;
}
.dojoCodeTextAreaBand{
	background:#eee;
	color:#666;
	padding:0 0 0 0;
	margin:0;
	border-right:1px solid #ddd;
	width:70px;
	text-align:right;
	position:relative;
}
.dojoCodeTextAreaBand ol{
	list-style-type:decimal;
	margin:0;
}
.dojoCodeTextAreaBand ol li{
	margin: 0 0 0 30px;
}
.dojoCodeTextAreaBand div.bookmark{
	position:absolute;
	font:13px monospace;
	color:#3c3;
	background:#3c3;
	right:0;
}
.codeTextAreaLine{
	position:relative;
	top:0;
	left.0;
	font:13px monospace;
}
.codeTextAreaLine span{
	height:13px;
	white-space:pre;
}
pre{
	height:13px;
	padding:0;
	margin:0;
}
.dojoCodeTextAreaHL{
	width:100%;
	background:#ddf;
	z-index:10;
}
.dojoCodeTextAreaLines{
	z-index:100;
	position:relative;
	top:0;
	left:0;
	height:100%;
	width:100%;
}
.dojoCodeTextAreaLines span{
	font:13px monospace;
}
.dojoCodeTextAreaCaret{
	position:absolute;
	top:0;
	left:0;
	backgroundColor:transparent;
	color:#c6ffc6;
	border-left:2px solid black;
}
input.suggester{
	font:13px monospace;
}
.autocompleterText{
	background:red;
}
 .codeTextAreaDialogCaption{
	font:11px helvetica;
}
.codeTextAreaDialogTitle{
	font:13px helvetica;
}
.codeTextAreaBookmarksBar{
	background:#ccc;
	position:relative;
	width: 12px;
}
.codeTextAreaBookmarksBar .placeholder{
	position:absolute;
	font:1px monospace;
	color:#3c3;
	background:#3c3;
	border:1px solid #090;
	height:3px;
	width:10px;
	z-index:10;
	cursor:pointer;
}
span.matchingBracket{
	color:red;
}
