 .dijitSplitContainerSizerH {
	background:url("../images/splitContainerSizerV.png") repeat-y #fff;
	border:0;
	border-left:1px solid #bfbfbf;
	border-right:1px solid #bfbfbf;
	width:7px;
}

 .dijitSplitContainerSizerH .thumb {
	background:url("../images/splitContainerSizerV-thumb.png") no-repeat #ccc;
	left:1px;
	width:3px;
	height:19px;
	overflow: hidden;
}

 .dijitSplitContainerSizerV {
	background:url("../images/splitContainerSizerH.png") repeat-x #fff;
	border:0;
	border-top:1px solid #bfbfbf;
	border-bottom:1px solid #bfbfbf;
	height:7px;
}

 .dijitSplitContainerSizerV .thumb {
	background:url("../images/splitContainerSizerH-thumb.png") no-repeat #ccc;
	top:1px;
	width:19px;
	height:3px;
	overflow: hidden;
}

 .dijitSplitter {
	border-color: #bfbfbf;
}