<tr>
	<td bgcolor="$phase"><b>$basename</b></td>
	<td bgcolor="$phase"><a href="index.php?show=table_view&db=$_GET[db]&tbl=$basename$SID">view</a></td>
	<td bgcolor="$phase"><a href="index.php?show=table_insert&db=$_GET[db]&tbl=$basename$SID">insert</a></td>
	<td bgcolor="$phase"><a href="index.php?show=table_details&db=$_GET[db]&tbl=$basename$SID">properties</a></td>
	<td bgcolor="$phase"><a href="index.php?show=table_empty&db=$_GET[db]&tbl=$basename$SID">empty</a></td>
	<td bgcolor="$phase"><a href="index.php?show=table_delete&db=$_GET[db]&tbl=$basename$SID">delete</a></td>
	<td bgcolor="$phase" align="right">$num_rows</td>
</tr>
