$headinclude
$gui_message2

<a href="index.php?show=table_view&db=$_GET[db]&tbl=$_GET[tbl]$SID">View</a><br><br>

<table bgcolor="{tablebordercolor}" cellpadding=3>
	<tr><td bgcolor="{tablec}">Field</td><td bgcolor="{tablec}">Type</td><td colspan=2 align="center" bgcolor="{tablec}">option</td></tr>
	$tbl_list_fields
</table>
<hr>

<ul>
		<form method="post" action="index.php?show=sql_execute&db=$_GET[db]&tbl=$_GET[tbl]$SID">
	<li>run SQL-command on database "$_GET[db]"<br>
		<input type="hidden" name="referto" value="table_details.php">
		<textarea name="sql" rows=7 cols=40>$_POST[sql]</textarea><br>
		<input type="checkbox" name="reprint" value="true">show SQL-comand again<br>
		<input type="submit" value="execute">
	</li>
		</form>
	<li><a href="index.php?show=table_insert&db=$_GET[db]&tbl=$_GET[tbl]$SID">Insert new record</a></li>
	<li><a href="index.php?show=table_delete&db=$_GET[db]&tbl=$_GET[tbl]$SID">Delete table "$_GET[db]"</a></li>
</ul>

$footinclude