/* TODO: there's alot of things in this that should be in /desktop.css instead of here... */

html, body {
	font-family: sans-serif;
}

/******************** Taskbar ********************/
.desktopPanel {
  background: url('./images/panelback.png');
  height: 35px;
}
.desktopPanelTop {
  background:url(./images/panelbacktop.png) repeat-x;
}
/******************** Window List ********************/
#appbar {
	width: 100%;
	height: 30px;
	background-color: transparent;
	border:0px;
	padding: 0px;
	top: 0px;
	overflow: hidden;
}

.taskBarItem {
	display: inline;
	background-image: url(./images/task_sel.png);
	background-repeat: no-repeat;
	margin-right: 5px;
	margin: 0px;
	padding: 2px;
	cursor: pointer;
	height: 24px;
	width: 165px;
	font-size: 10pt;
	white-space: nowrap;
	text-align: center;
	float: left;
	overflow: hidden;
	color: white;
}

.taskBarItem img {
	vertical-align: middle;
	margin-right: 5px;
	margin-left: 5px;	
	height: 16px;
	width: 16px;
}

.taskBarItem a {
	color: white;
	text-decoration: none;
}

.seperator {
	background-image: url(./images/separator.png);
	height:29px;
	width: 3px;
}
/******************** Console ********************/
.console {
	border: 1px solid gray;
	background-color: #191970;
	color: white;
}
.consoleinput {
	width: 90%;
	height: 20px;
	border: none;
	background-color: black;
	color: white;
}
/******************** Toaster  ********************/
#toaster{
	background-color: #eeeeee;
}
/******************** Menu ********************/
.menubutton-icon
{
	background-image: url(./images/begin.png);
	width: 74px;
	height: 27px;
	background-repeat: no-repeat;
}