.win {
	border: 0px;
	padding: 0px;
	margin: 0px;
}
.win-buttons {
	width: 64px;
	padding-right: 2px;
	top: 0px;
}
.win-close,
.win-min,
.win-max {
	height: 18px;
}
.win-close {
  width: 21px;
	background-image: url(./images/close.png);
}
.win-min {
  width: 21px;
	background-image: url(./images/min.png);
}
.win-max {
  width: 20px;
	background-image: url(./images/max.png);
}
.win-tc {
  height: 29px;
	background-image: url(./images/center.png);
	z-index: 1;
}
.win-title {
	color: white;
	font-weight: bold;
	padding-top: 2px;
	margin-right: 55px;
	width: auto;
	overflow: hidden;
	padding-left: 10px;
	position: relative;
}
.win-tr,
.win-tl {
	height: 29px;
}
.win-tr {
	background-image: url(./images/right.png);
	padding-right: 10px;
}
.win-tl {
	background-image: url(./images/left.png);
	padding-left: 10px;
}
.win-resize {
	width: 12px;
	height: 16px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	cursor: se-resize;
}

.win-mc {
	background-color: white;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	margin-bottom: 16px;
}
/*.win-ml {
	background-image: url(./images/);
	padding-left: 10px;
}*/
.win > .win-bmw {
	top: 29px;
}
/*.win-mr > .win-mc {
	left: 10px;
	right: 10px;
}

.win-mr {
	background-image: url(./images/);
	padding-right: 10px;
}*/
.win-bl {
	padding-left: 5px;
	height: 16px;
	background-image: url(./images/b_left.png);
}
.win-br {
	padding-right: 12px;
	height: 16px;
	background-image: url(./images/b_right.png);
}
.win-bc {
	height: 16px;
	background-image: url(./images/b_center.png);
}

