a:link { color:#0000ff; text-decoration:none; }
a:visited { color:#0000ff; text-decoration:none; }
a:active { color:#ff0000; text-decoration:none; }
a:hover { color:#00ff00; text-decoration:underline; }
.bg_navi { background-color:#D0DCE0;color:#000000; }
.bg_main { background-color:#F5F5F5;color:#000000; }
