body {
	background:#fff url("gradient.gif") repeat-x top left;
	padding:2em 2em 2em 2em;
	text-align:center;
	font-family:Verdana,Helvetica,Tahoma,Arial,sans-serif;
	font-size:76%;
}

#wizard {
	border: 1px solid #9b9b9b;
	background-color: white;
	padding: 20px;
	width: 600px;
	height: 400px;
	text-align: left;
}

#form {
	position: relative;
	width: 642px;
	margin: 20px auto;
	height: 450px;
}

.buttons {
	position: absolute;
	bottom: 10px;
	right: 3px;
}

.title {
	font-size: 14pt;
	font-weight: bold;
	margin-bottom: 20px;
}

#progressBarContainer {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

#progressContainer {
	width: 500px;
	margin: 0px auto;
	text-align: center;
}

#taskList {
	border: 1px solid gray;
	padding: 5px;
}
