body {
	background:#fff url("gradient.gif") repeat-x top left;
	padding:2em 2em 2em 2em;
	text-align:center;
	font-family:Verdana,Helvetica,Tahoma,Arial,sans-serif;
	font-size:76%;
}

#admin_passbox {
	color: red;
	font-size: 10px;
	margin-left: 10px;
}

.installComplete {
	text-align: center;
	color: green;
	margin: 5px 0px 15px 0px;
}
.installError {
	text-align: center;
	color: red;
}

#pageBar {
	height: 48px;
    position: relative;
}
#pageBarOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 20;
}

#wizard {
	border: 1px solid #9b9b9b;
	background-color: white;
	padding: 20px;
	width: 600px;
	height: 400px;
	text-align: left;
}

#form {
	position: relative;
	width: 642px;
	margin: 20px auto;
	height: 500px;
}

.buttons {
	position: absolute;
	bottom: 13px;
	right: 3px;
}

.title {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

#progressBarContainer {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

#progressContainer {
	width: 500px;
	margin: 0px auto;
	text-align: center;
}

#taskList {
	border: 1px solid gray;
	padding: 5px;
	height: 250px;
	overflow-y: scroll;
	text-align: left;
	font-family: monospace;
	font-size: 10px;
}
