html, body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	color: #444;
}
a {
	color: #44AA44;
}
#bg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-image: url(../desktop/themes/default/wallpaper.png);
	background-position: center center;
	background-color: #32cd32;
}
#centerForm {
	z-index: 10;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12%;
	position: relative;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
#desktop_message {
	font-size: 14pt;
	font-weight: bold;
	margin-bottom: 10px;
}
#psychdesktop_login {
	text-align: center;
	background-color: white;
	margin: 0px;
}
#top, #bottom {
	width: 100%;
	position: relative;
	height: 20px;
}
.centerEdge {
	position: absolute;
	width: 310px;
	height: 20px;
	top: 0px;
	left: 20px;
	background-color: white;
}
#tr, #tl, #br, #bl {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0px;
}
#tr {
	right: 0px;
	background-image: url('./tr.png');
}
#tl {
	left: 0px;
	background-image: url('./tl.png');
}
#br {
	right: 0px;
	background-image: url('./br.png');
}
#bl {
	left: 0px;
	background-image: url('./bl.png');
}