$headinclude
$gui_message2

<table bgcolor="{tablebordercolor}" cellpadding=3>
	<tr><td bgcolor="{tablec}">Tabellenname</td><td colspan=5 align="center" bgcolor="{tablec}">Aktion</td><td bgcolor="{tablec}">Eintr&auml;ge</td></tr>
	$db_list_tbls
</table>
<hr>

<ul>
		<form method="post" action="index.php?show=sql_execute&db=$_GET[db]$SID">
	<li>SQL-Befehl in Datenbank "$_GET[db]" ausf&uuml;hren<br>
		<input type="hidden" name="referto" value="database_details.php">
		<textarea name="sql" rows=7 cols=40>$_POST[sql]</textarea><br>
		<input type="checkbox" name="reprint" value="true"> SQL-Befehl erneut anzeigen<br>
		<input type="submit" value="ausf&uuml;hren">
	</li>
		</form>
		<form method="post" action="index.php?show=table_create&db=$_GET[db]$SID">
	<li>Neue Tabelle in Datenbank "$_GET[db]" erstellen<br>
		Name <input size=30 name="new_table_name"><br>
		Felder (Anzahl) <input size=5 name="new_table_numf"><input type="submit" value="erstellen">
	</li>
		</form>
	<li><a href="index.php?show=database_delete&db=$_GET[db]$SID">Datenbank "$_GET[db]" l&ouml;schen</a></li>
</ul>

$footinclude