@import url('css/window.css');
@import url('css/panels.css');
@import url('css/filearea.css');
@import url('css/statusbar.css');

html, body {
	overflow: hidden;
	margin: 0px;
	width: 100%;
	height: 100%;
}

.console 
{
	overflow: auto;
	cursor: default;
	font-family: monospace;
	font-size: 10pt;
}
/* Hide that damn dojo.io.iframe */
#dojoIoIframe {
	display: none;
	opacity: 0;
	width: 0px;
	height: 0px;
	border: 0px;
}
