<tr>
	<td bgcolor="$phase"><b>$basename</b></td>
	<td bgcolor="$phase"><a href="index.php?show=table_view&db=$_GET[db]&tbl=$basename$SID">anzeigen</a></td>
	<td bgcolor="$phase"><a href="index.php?show=table_insert&db=$_GET[db]&tbl=$basename$SID">einf&uuml;gen</a></td>
	<td bgcolor="$phase"><a href="index.php?show=table_details&db=$_GET[db]&tbl=$basename$SID">Eigenschaften</a></td>
	<td bgcolor="$phase"><a href="index.php?show=table_empty&db=$_GET[db]&tbl=$basename$SID">leeren</a></td>
	<td bgcolor="$phase"><a href="index.php?show=table_delete&db=$_GET[db]&tbl=$basename$SID">l&ouml;schen</a></td>
	<td bgcolor="$phase" align="right">$num_rows</td>
</tr>
