$headinclude
$gui_message2

<h2>Erstellen der Tabelle "$_POST[new_table_name]"</h2>

<form method="post" action="index.php?show=table_details&amp;db=$_GET[db]&amp;tbl=$_POST[new_table_name]&amp;create=true$SID">
<input type="hidden" name="numf" value="$_POST[new_table_numf]">
<table bgcolor="{tablebordercolor}" cellpadding="3">
	<tr><td bgcolor="{tablec}">Feldname</td><td bgcolor="{tablec}">Datentyp</td></tr>
	$tbl_list_fields
</table>
<input type="submit" value="erstellen">
</form>

$footinclude