$headinclude
$gui_message2

<a href="index.php?show=table_view&amp;db=$_GET[db]&amp;tbl=$_GET[tbl]$SID">Anzeigen</a><br /><br />

<table bgcolor="{tablebordercolor}" cellpadding="3">
	<tr><td bgcolor="{tablec}">Feld</td><td bgcolor="{tablec}">Typ</td><td colspan="2" align="center" bgcolor="{tablec}">Aktion</td></tr>
	$tbl_list_fields
</table>
<hr />

<ul>
		<form method="post" action="index.php?show=sql_execute&amp;db=$_GET[db]&amp;tbl=$_GET[tbl]$SID">
	<li>SQL-Befehl in Datenbank "$_GET[db]" ausf&uuml;hren<br />
		<input type="hidden" name="referto" value="table_details.php">
		<textarea name="sql" rows="7" cols="40">$_POST[sql]</textarea><br />
		<input type="checkbox" name="reprint" value="true"> SQL-Befehl erneut anzeigen<br />
		<input type="submit" value="ausf&uuml;hren">
	</li>
		</form>
	<li><a href="index.php?show=table_insert&amp;db=$_GET[db]&amp;tbl=$_GET[tbl]$SID">Neue Zeile einfügen</a></li>
	<li><a href="index.php?show=table_delete&amp;db=$_GET[db]&amp;tbl=$_GET[tbl]$SID">Tabelle "$_GET[db]" l&ouml;schen</a></li>
</ul>

$footinclude