.win {
	border: 0px;
	padding: 0px;
	margin: 0px;
}
.win-buttons {
	width: 48px;
}
.win-close,
.win-min,
.win-max {
	width: 16px;
	height: 16px;
}
.win-close {
	background-image: url(./images/icons/close.gif);
}
.win-min {
	background-image: url(./images/icons/minimize.gif);
}
.win-max {
	background-image: url(./images/icons/maximize.gif);
}
.win-tc {
    height: 20px;
	background-image: url(./images/winmid.gif);
}
.win-mc {
	background-color: white;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
}
.win-tr,
.win-tl {
	height: 20px;
}
.win-tr {
	background-image: url(./images/winright.gif);
	padding-right: 6px;
}
.win-tl {
	background-image: url(./images/winleft.gif);
	padding-left: 6px;
}
.win-resize {
	width: 5px;
	height: 5px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	cursor: se-resize;
}

