.tundra .dijitToolbar {
	padding: 3px 0 1px 3px;	
	border-bottom: 1px solid #ccc;
	background:#eaeaea url("images/titleBar.png") repeat-x top left;
}
.tundra .dijitToolbar * {
	padding: 0;
	margin: 0;
	
	
}
.dj_ie .tundra .dijitToolbar {
	padding-bottom: 1px;
}
.tundra .dijitToolbar .dijitButtonNode {
	padding: 0;
	margin: 1px;
	border: 1px solid transparent;
	background: none;
	_margin: 1px;
	_padding: 0 1px 0 1px;
	_border: 0;
}
.tundra .dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
	background-color:#c1d2ee;
	border:1px solid #316ac5;
}
.tundra .dijitToolbar .dijitToggleButtonCheckedHover .dijitButtonContents {
	border-color: #aec6e7;
	background-color: transparent;
}
.dj_ie6 .tundra .dijitToolbar .dijitButtonNode {
	
	border-color: #e9e9e9;
}
.tundra .dijitToolbar .dijitButtonHover .dijitButtonNode,
.tundra .dijitToolbar .dijitToggleButtonHover .dijitButtonNode,
.tundra .dijitToolbar .dijitDropDownButtonHover .dijitButtonNode {
	
	border-color: #aec6e7;
	
	_border: 1px solid #366dba;
	_margin: 0 0 0 0;
	_padding: 0;
}
.tundra .dijitToolbar label {	
	padding: 3px 3px 0 6px;
}
